/* Banner Section */
.banner-container {
    text-align: center;
    border-radius: 16px 16px;
    margin: 50px 140px;
    background: #070211, #07021100;
    position: relative;

}

.banner-container img {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    ;


}

.banner-text {
    position: absolute;
    top: 27%;
    left: 43%;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    transform: translate(-50%, -50%);
}

.banner-title {
    position: absolute;
    top: 35%;
    left: 37%;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 75px;
    font-weight: 900;
}

/* Body Section Start */
/* Holiday Offer */
.holiday-offer-container {
    text-align: center;
}

.section-title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
}

.section-description {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}

.section-text {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 7px;
}

.section-img {
    margin: 48px 398px 0px 399px;
}

/* Party Section */
.party-container {
    text-align: center;
    position: relative;
}

.party-img {
    margin: 120px 140px 0px 140px;
}

.party-title {
    color: #FFF;
    top: 40%;
    left: 20%;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    position: absolute;
    line-height: 88px;
}

.party-text {
    position: absolute;
    top: 45%;
    left: 20%;
}

/* Join Section start */
.join-container {
    justify-content: center;
    text-align: center;
    padding: 100px 386px 214px 385px;
    /* color: #F00; */
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.join {
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0) 100%);
    /* padding: ; */
    border-radius: 16px;
    margin: 120px 140px 0 140px;
}

.join-btn {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    margin: 48px 577px 110px 576px;

    /* button-text */
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
}

/* Portfolio Section */
.gift {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portfolio-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.portfolio-text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.portfolio-img {
    /* padding: 140px; */
    margin-top: 48px;
    margin-right: 24px;
    align-items: center;
    justify-content: center;
}

.portfolio {
    padding: 0 140px 0 140px;
    margin-left: 140px;
    margin-right: 2px;
    width: 1600px;
    /* height: 7335px; */
}

.portfolio-img::after {
    content: "";
    clear: both;
    display: table;
}

.portfolio-img:hover {
    opacity: .7;
    transition: .5s;
}

/* subscriber section */
.subscribe {
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0) 100%);
    
    border-radius: 16px;
    margin: 120px 140px 0 140px;
}

.subscribe-container img {
   
    margin: 80px 585px 0px 585px;
    justify-content: center;
    text-align: center;

}

.subscribe-container h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 40px;
}

.subscribe-container p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0px;
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
}

input[type="email"] {
    background: #FFFFFF;
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 50px 0 0 50px;
    margin-top: 48px;
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 18px
    color: rgba(7, 2, 17, 0.30);
}

.submit{
    position: relative;
    border-radius: 0 50px 50px 0;
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    background: #F00;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}